/* .rockets {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rocket {
  display: flex;
  gap: 15px;
}

.rocket-image {
  width: 250px;
}

span {
  font-weight: 600;
  background-color: aquamarine;
} */
